@font-face {
    font-family: rejouice;
    src: url(./Rejouice-Headline.ttf);
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html, body{
height: 100%;
width:100%;
color: #000;
font-family: rejouice;
}

#quiz {
    display: block;
    width: 50%;
    padding: 1rem;
    margin: 2rem auto;
    text-align: center;
}

.hidden{
    display: none !important;
}

.pointer-none{
    pointer-events: none;
}
.options{
    width: 50vw;
    border: 1px solid #0000005e;
    padding: 1vw 2vw;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
}
.options .option{
    width: 46%;
    margin: 0.5vw 0;
    padding: 0.7vw 0;
    background-color: hotpink;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    transition:  all ease 400ms;
}
.options .option:hover{
    transform: scale(1.1);
    border: 1px dashed #000;
    background-color: #E9DAC8;
    color: #fff;
}


button{
    margin: 2vw 0;
    padding: 7px 15px;
    background-color: #b2b9c08f;
    border: 1px solid #00000036;
}